{% extends 'base.html.twig' %}

{% block content %}
    <div class="album py-5 bg-light px-4">
        <div class="container-fluid">
            <div class="row p-3 d-flex justify-content-between bd-highlight mb-3">
                    <h3>{{ totalAnimals }} animaux trouvés !</h3>
            </div>
            <div class="row p-3 d-flex justify-content-between bd-highlight mb-3 h-100 p-5 bg-body-tertiary border rounded-3">
                {{ include('animal/include/_search-form.html.twig') }}
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
                {% for animal in animals %}
                    {% include '/animal/include/_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <br><br>
        <div>
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('animal_search', {'page': page-1}) }}" tabindex="-1"
                               aria-disabled="true">Précédents</a>
                        </li>
                    {% endif %}
                    {% for pageNumber in 1..pageCount %}
                        <li class="page-item {% if page == pageNumber %}active{% endif %}">
                            <a class="page-link"
                               href="{{ path('animal_search', {'page': pageNumber}) }}">{{ pageNumber }}</a>
                        </li>
                    {% endfor %}
                    {% if page < pageCount %}
                        <li class="page-item">
                            <a class="page-link {% if (pageCount) == (page) %}disabled{% endif %}"
                               href="{{ path('animal_search', {'page': page+1}) }}">Suivants</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
