<div class="col pt-3 organisation-card pb-3 p-3">
    <div class="card h-100 clickable"  data-link= {{ path('organisation_display', {'id':organisation.id}) }}>
        <div class="position-relative overflow-hidden" style="height: 200px;">
            {% if organisation.images|length > 0 %}
                <img src="{{ asset('/upload/organisation/images/'~ organisation.images|first()) }}" class="w-100 h-100 object-fit-cover card-img-top" alt="{{ organisation.name }}">
            {% else %}
                <img src="{{ asset('/upload/organisation/default-banner.jpg') }}" class="w-100 h-100 object-fit-cover card-img-top" alt="{{ organisation.name }}">
            {% endif %}

            <div class="position-absolute bottom-0 start-0 m-2">
                <img src="{% if organisation.logo is defined and organisation.logo %}
                     {{ asset('/upload/organisation/logo/'~ organisation.logo) }}
                 {% else %}
                     {{ asset('/upload/organisation/logo/logo1.jpg') }}
                 {% endif %}"
                     class="img-thumbnail shadow" alt="{{ organisation.name }}"
                     style="width: 80px; height: 80px; background-color: white;">
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h1>{{ organisation.name }}</h1>
                    <br>
                </div>
            </div>

            <div class="row p-2">
                {{ organisation.description }}
            </div>


            {% if manage|default(false) == true %}
                <br>
                <div class="row">
                    <div class="col">
                        <a type="button" class="btn btn-primary fa-pull-right" href="{{ path('organisation_update', {id: organisation.id}) }}">Modifier</a>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </div>
                </div>
            {% endif %}
            
        </div>


        <div class="card-footer">
            <div class="row justify-content-md-end">
                <a type="button" class="btn btn-primary" href="{{ path('organisation_display', {id: organisation.id}) }}">Voir</a>
            </div>
        </div>
    </div>
</div>