<div class="col pt-3 animal-card">
    <div class="card h-100 clickable" data-link= {{ path('animal_display', {'type':constant('DISCRIMINATOR', animal), 'id':animal.id}) }}>
        {% if animal.images|length > 0 %}
            <img src="{{ asset('/upload/animal/'~ constant('DISCRIMINATOR', animal) ~'/'~ animal.images|first()) }}" class="img-fluid d-block card-img-top"
                 alt="{{ animal.name }}">
        {% else %}
            <img src="{{ asset('/upload/animal/'~ constant('DISCRIMINATOR', animal) ~'/default.jpg') }}" class="img-fluid d-block card-img-top"
                 alt="{{ animal.name }}">
        {% endif %}
        <div class="card-body">
            <div class="row">
                <div class="col"><h5 class="card-title">{{ animal.name }}</h5></div>
                <div class="col text-right">
                    {% if animal.sex == constant('App\\Utils\\Animal\\Sex::TYPE_MALE') %}
                        <i class="fas fa-mars" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Male"></i>
                    {% elseif animal.sex == constant('App\\Utils\\Animal\\Sex::TYPE_FEMALE') %}
                        <i class="fas fa-venus" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Femelle"></i>
                    {% else %}
                        <i class="fas fa-question" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Sexe inconnu"></i>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if animal.childAffinities == constant('App\\Utils\\Animal\\Affinities::Good') %}
                        <i class="fas fa-baby text-success" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Bonne entente avec les enfants"></i>
                    {% elseif animal.childAffinities == constant('App\\Utils\\Animal\\Affinities::Bad') %}
                        <i class="fas fa-baby text-danger" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Mauvaise entente avec les enfants"></i>
                    {% else %}
                        <i class="fas fa-baby text-secondary" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Entente avec les enfants inconnue"></i>
                    {% endif %}

                    {% if animal.dogsAffinities == constant('App\\Utils\\Animal\\Affinities::Good') %}
                        <i class="fas fa-dog text-success" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Bonne entente avec les chiens"></i>
                    {% elseif animal.dogsAffinities == constant('App\\Utils\\Animal\\Affinities::Bad') %}
                        <i class="fas fa-dog text-danger" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Mauvaise entente avec les chiens"></i>
                    {% else %}
                        <i class="fas fa-dog text-secondary" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Entente avec les chiens inconnue"></i>
                    {% endif %}

                    {% if animal.catsAffinities == constant('App\\Utils\\Animal\\Affinities::Good') %}
                        <i class="fas fa-cat text-success" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Bonne entente avec les chats"></i>
                    {% elseif animal.catsAffinities == constant('App\\Utils\\Animal\\Affinities::Bad') %}
                        <i class="fas fa-cat text-danger" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Mauvaise entente avec les chats"></i>
                    {% else %}
                        <i class="fas fa-cat text-secondary" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Entente avec les chats inconnue"></i>
                    {% endif %}
                </div>
                <div class="col text-right">
                    {% if animal.vaccination == true %}
                        <i class="fas fa-syringe text-success" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Vacciné"></i>
                    {% else %}
                        <i class="fas fa-syringe text-danger" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Non vacciné"></i>
                    {% endif %}
                    {% if animal.sterilized == true %}
                        <i class="far fa-hand-scissors text-success" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Stérilisé"></i>
                    {% else %}
                        <i class="far fa-hand-scissors text-danger" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Non stérilisé"></i>
                    {% endif %}
                    {% if animal.dewormed == true %}
                        <i class="fas fa-capsules text-success" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Vermifugé"></i>
                    {% else %}
                        <i class="fas fa-capsules text-danger" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Non vermifugé"></i>
                    {% endif %}
                </div>
            </div>

            <p class="card-text text-truncate">
                {{ animal.description }}
                {# {{ animal.description|length > 50 ? animal.description|slice(0, 50) ~ '...' : animal.description }} #}
            </p>
            <br>
            {% if manage|default(false) == true %}
            <br>
            <div class="row">
                <div class="col">
                    <a type="button" class="btn btn-primary fa-pull-right" href="{{ path('animal_update', {id: animal.id}) }}">Modifier</a>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">Supprimer</button>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="row justify-content-md-end">
                    <a type="button" class="btn btn-primary" href="{{ path('animal_display', {id: animal.id}) }}">Voir</a>
            </div>
        </div>
    </div>
</div>