
{{ form_start(form) }}

<div class="row">
    {{ form_row(form.type) }}
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.name) }}
    </div>
    <div class="col">
        {{ form_row(form.sex) }}
    </div>
    <div class="col">
        {{ form_row(form.vaccination) }}
        {{ form_row(form.sterilized) }}
        {{ form_row(form.dewormed) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.fur) }}
    </div>
    <div class="col">
        {{ form_row(form.color) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.dogsAffinities) }}
    </div>
    <div class="col">
        {{ form_row(form.catsAffinities) }}
    </div>
    <div class="col">
        {{ form_row(form.childAffinities) }}
    </div>

<div class="row">
    <div class="col">
        {{ form_row(form.addressLine1) }}
        {# Champs cachés lat/lng #}
        {{ form_row(form.geoLat) }}
        {{ form_row(form.geoLng) }}
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="geocodeStatus" class="small text-muted mt-1"></div>
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.search) }}
    </div>
</div>

    {% include 'includes/_geocode_js.html.twig' %}
{{ form_end(form) }}