<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Animal</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for adoptionRequest in adoptionRequests %}
        <tr>
            <th scope="row">{{ adoptionRequest.id }}</th>
            <td>{{ adoptionRequest.adopter.name }}</td>
            <td>{{ adoptionRequest.adopter.email }}</td>
            <td>
                <a href="{{ path('animal_display', {'id': adoptionRequest.animal.id}) }}">{{ adoptionRequest.animal.name }}</a>
            </td>
            <td>
                {% if adoptionRequest.status == constant('App\\Entity\\AdoptionRequest\\AdoptionRequest::STATUS_NEW') %}
                    <span class="badge text-bg-primary">Nouvelle</span>
                {% elseif adoptionRequest.status == constant('App\\Entity\\AdoptionRequest\\AdoptionRequest::STATUS_IN_PROGRESS') %}
                    <span class="badge text-bg-secondary">En cours</span>
                {% elseif adoptionRequest.status == constant('App\\Entity\\AdoptionRequest\\AdoptionRequest::STATUS_ADOPTED') %}
                    <span class="badge text-bg-success">Adopté</span>
                {% endif %}
            </td>
            <td>
                <a type="button" class="btn btn-primary"
                   href="{{ path('adoption-request_display', {id: adoptionRequest.id}) }}">Voir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>