<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Adopt a Friend{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
{#    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>#}
</head>

<body class="d-flex flex-column h-100">
{% block header %}
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Adopt A Friend</strong>
                </a>
                <nav class="navbar navbar-expand-lg navbar bg">
                    <div class="container-fluid">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ url('animal_search', {'type':'dog'}) }}">Chercher un chien</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ url('animal_create', {'type':'dog'}) }}">Ajouter un chien</a>
                                </li>
                            </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
    <footer class="footer mt-5 py-3 bg-light">
        <div class="container">
            <p class="mb-1">Made with love by Guillaume Prost</p>
            <p class="float-end mb-1 justify-content-end">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>
{% endblock %}
</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
