<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <title>{% block title %}Adopt a Friend{% endblock title %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock stylesheets %}
</head>

<body class="d-flex flex-column min-vh-100">

<header>
    {% block header %}
        {% include('includes/menu.html.twig') %}
    {% endblock header %}
</header>

<main>
        {% block flash %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock flash %}

    {% block content %}

    {% endblock content %}
</main>
{% block footer %}
    <footer class="footer mt-5 py-4 bg-dark text-light text-center mt-auto">
        <div class="container">
            <p class="mb-1">🐾 Made with love by Guillaume Prost</p>
            <p class="mb-0">
                <a href="#" class="text-light">Back to top</a>
            </p>
        </div>
    </footer>
{% endblock footer %}
</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
