{% extends 'base.html.twig' %}

{% block content %}
    <div class="container mb-5">
        <div id="organisationCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% if organisation.images|length > 0 %}
                    {% for image in organisation.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ asset('/upload/organisation/images/'~ image) }}" class="d-block w-100"
                                 alt="{{ organisation.name }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <img src="{{ asset('/upload/organisation/default-banner.jpg') }}" class="d-block w-100"
                         alt="{{ organisation.name }}">
                {% endif %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#animalCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#animalCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>

        <div class="row pt-3 pb-3">
            <div class="col">
                <img src="{{ asset('/upload/organisation/logo/'~ organisation.logo|default('logo1.jpg')) }}"
                     class="img-thumbnail"
                     alt="{{ organisation.name }}">

            </div>
            <div class="col-8">
                <h1>{{ organisation.name }}</h1>

                <small class="text-muted">Crée le {{ organisation.createdAt|date('d/m/Y') }}</small>
                <br>
                {{ organisation.description }}
                {% if app.user.organisation == null %}
                    <br>
                    <a href="{{ path('organisation_join', {'id': organisation.id}) }}" class="btn btn-outline-primary mt-3">
                        Demander à rejoindre cette association
                    </a>
                {% endif %}

                {% if organisation.users.contains(app.user) %}
                    <br>
                    <br>
                    <a type="button" class="btn btn-primary"
                       href="{{ path('organisation_update', {id: organisation.id}) }}">Modifier</a>
                {% endif %}
            </div>
        </div>
        <br>
        <h2> Animaux à l'adoption </h2>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
            {% for animal in organisation.animals %}
                {% include '/animal/include/_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}